{% load static %}
<hr class="line"/>
<div class="footer-container">
    <div class="col-md-12 row">
        <div class="col">
            <div> MAPA STRONY: </div>
            <ul>
                <li>
                    <a href="{% url 'main' %}">Strona główna</a>
                </li>
                <li>
                    <a href="{% url 'offer' %}">Oferta</a>
                </li>
                <li>
                    <a href="{% url 'info' %}">O mnie</a>
                </li>
                <li>
                    <a href="{% url 'opinions' %}">Opinie</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>
                    <a href="{% url 'blog' %}">Blog</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Kontakt</a>
                </li>
                <li>
                    <a href="{% url 'faq' %}">FAQ</a>
                </li>
            </ul>
        </div>
        <div class="col social">
            <a class="icon fab fa-facebook-square" href="https://www.facebook.com/relaksownia.masaz"></a>
            <a class="icon fa fa-street-view" href="https://g.page/Relaksownia_Masaz_Gliwice?share"></a>
            <a class="icon fab fa-twitter" href="#"></a>
        </div>
        <div class="col">
            Telefon Kontaktowy: 123-456-789
        </div>
        <div class="col">
            (C) 2020 Copyright Justyna Pietraszek <br/>
            Stworzone i administrowane przez: Artur@Szwagrzak.pl
        </div>
    </div>
</div>
<hr class="line"/>
