{% load static %}
<hr class="line"/>
<div class="footer-container">
    <div class="col-md-12 row">
        <div class="col sitemap-1">
            <div id="sitemap-title"> MAPA STRONY: </div>
            <ul>
                <li>
                    <a href="{% url 'main' %}">Strona główna</a>
                </li>
                <li>
                    <a href="{% url 'offer' %}">Oferta</a>
                </li>
                <li>
                    <a href="{% url 'info' %}">O mnie</a>
                </li>
                <li>
                    <a href="{% url 'opinions' %}">Opinie</a>
                </li>
            </ul>
        </div>
        <div class="col sitemap-2">
            <div>&nbsp;</div>
            <ul>
                <li>
                    <a href="{% url 'promo' %}">Książka</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Kontakt</a>
                </li>
                <li>
                    <a href="{% url 'faq' %}">FAQ</a>
                </li>
                <li>
                    <a href="{% url 'policy' %}">Polityka prywatności</a>
                </li>
            </ul>
        </div>
        <div class="col social">
            {% if facebook %}
                <a class="icon fab fa-facebook" href="{{ facebook }}"></a>
            {% endif %}
            {% if twitter %}
                <a class="icon fab fa-twitter" href="{{ twitter }}"></a>
            {% endif %}
            {% if linkedin %}
                <a class="icon fab fa-linkedin" href="{{ linkedin }}"></a>
            {% endif %}
            {% if instagram %}
                <a class="icon fab fa-instagram" href="{{ instagram }}"></a>
            {% endif %}
            {% if snapchat %}
                <a class="icon fab fa-snapchat" href="{{ snapchat }}"></a>
            {% endif %}
            {% if youtube %}
                <a class="icon fab fa-youtube" href="{{ youtube }}"></a>
            {% endif %}
            {% if google_plus %}
                <a class="icon fa fa-map-marker" href="{{ google_maps }}"></a>
            {% endif %}
        </div>
        <div class="col phone-contact">
            <br/>
            Telefon Kontaktowy: {{ contact_phone }}
        </div>
        <div class="col copyright">
            (C) 2021 Copyright Justyna Pietraszek <br/>
            Stworzone i administrowane przez: Artur@Szwagrzak.pl
        </div>
    </div>
</div>
<hr class="line"/>
<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
