{% load static %}

<div id="newsletter-container">
    <form method="post" action="{{ action }}" novalidate>
      {% csrf_token %}

     <div class="modal-header">
        <div class="modal-title">Zapisz się na newsletter</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <div>
              {{ newsletterConfiguration.newsletter_info | safe }}
          </div>
        {% for field in form %}
          <div id="form_{{ field.name }}" class="form-group{% if field.errors %} invalid{% endif %}">
              {{ field }}
              {% if field.name == 'permission' %}
                <label for="{{ field.id_for_label }}">
                    {{ newsletterConfiguration.permission_text | safe }}
                </label>
              {% endif %}
          </div>
            {% for error in field.errors %}
              <p class="help-block error">{{ error | safe }}</p>
            {% endfor %}
        {% endfor %}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn close-modal" data-dismiss="modal">Zamknij</button>
        <button type="submit" class="submit-btn btn save-data">Zapisz</button>
      </div>

    </form>
</div>
