/* common styles */
body {
    margin-top: 1rem;
    background-color: black;
    color: white;
}

.thin-gold-border {
    padding: 1rem;
    border: goldenrod 2px solid;
    border-radius: 2rem;
}

.card {
    background-color: black;
    margin: 1rem;
}

/* colorization */

#container .container-image, #carousel_container .carousel-image {
    filter: brightness(110%) sepia(40%) hue-rotate(5deg) saturate(200%);
}
#container img, #carousel_container img {
    filter: brightness(70%);
}

a {
    color: goldenrod;
    cursor: pointer;
}

a:hover {
    color: gold;
    cursor: pointer;
}

a.inline-block {
   display: inline-block;
}

.info-img img {
    filter: sepia(40%) brightness(70%) saturate(200%) contrast(130%);
}

/* menu styles */

.nav-item a {
    color: darkgoldenrod;
    font-size: 2rem;
}

.nav-item.active a {
    color: gold;
}

#navbarNavDropdown {
    padding-right: 2rem;
    flex-direction: row-reverse;
}

li.nav-item {
    border-top: 1px gold solid;
    border-bottom: 1px gold solid;
    padding: 1rem;
}

/* main styles */
.content-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* footer */

.footer-container {
    margin: 2rem;
}

.social .icon {
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}
.social .fa-street-view {
    color: white;
}

.social .fa-twitter {
    color: #1DA1F2;
}

.social .fa-facebook-square {
    color: blue;
}

/* carousel slider */

.carousel-inner {
    width: 100%;
    max-height: 600px;
    height: 600px;
}

.bg-center{
    background-repeat: no-repeat;
    background-size:100% auto;
    background-position: center center;
}

/* container */
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.container-title, .info-justyna {
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
    margin-bottom: 1rem;
    color: gold;
    text-align: center;
}

.info-justyna {
    font-size: 2rem;
}

.column-item {
    padding: 1rem;
    flex: 1 1 0px
}

/* info + video */
.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.info-container, .video-container {
    width: 50%;
    height: auto;
    margin: 2rem;
    display: flex;
    justify-content: stretch;
}

#info-container .thin_gold_border {
    display: flex;
}

.video-container-inner {
    height:100%;
    width:100%;
}

.info-img, .info-desc {
    margin: 0.5rem;
}

/* offer */

.offer-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.offer-img img {
    width: 100%;
    height: auto;
}

.offer-text {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}

.offer-text .offer-desc {
    margin-top: 2rem;
}

.offer-text .offer-title {
    font-size: 2rem;
    font-weight: bold;
}

.offer-main {
    height: 300px;
    //background: rgb(184,134,11);
    //background: linear-gradient(180deg, rgba(184,134,11,0.5) 0%, rgba(180,161,0,0.7) 50%, rgba(126,92,8,0.5) 100%);
}

.right-side {
    border-right: 1px solid white;
}

.right-side, .left-side {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.offer-main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    border-top: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}

.offer-main .offer-main-title {
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.offer-main .offer-main-text {
    padding: 2rem 2rem 0 2rem;
    font-size: 1.5rem;
}

/* faq */
