@font-face {
  font-family: Lobster;
  src: url(../webfonts/LobsterTwo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: league;
  src: url(../webfonts/LeagueGothic-Regular.otf) format("opentype");
}

@font-face {
  font-family: league-italic;
  src: url(../webfonts/LeagueGothic-Italic.otf) format("opentype");
}

@font-face {
  font-family: league-condensed;
  src: url(../webfonts/LeagueGothic-CondensedRegular.otf) format("opentype");
}

@font-face {
  font-family: league-condensed-italic;
  src: url(../webfonts/LeagueGothic-CondensedRegularItalic.otf) format("opentype");
}

body {
  background-color: #000;
  color: #fff;
}

body button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

body::placeholder {
  color: #ccd0d3;
}

.card {
  background-color: #000;
  margin: 1rem;
}

#carousel_container .carousel-image {
  filter: brightness(110%) sepia(40%) hue-rotate(5deg) saturate(200%);
}

#carousel_container img {
  filter: brightness(70%);
}

#container .container-image {
  filter: brightness(110%) sepia(40%) hue-rotate(5deg) saturate(200%);
}

#container img {
  filter: brightness(70%);
}

.container-image img {
  height: 350px;
}

a {
  color: #ebe286;
  cursor: pointer;
  text-transform: uppercase;
}

a:hover {
  color: #ebe286;
  cursor: pointer;
}

a.nav-link {
  font-family: league;
}

.footer-container {
  margin: 2rem;
}

.footer-container li a {
  color: #fff;
  font-family: unset;
}

h1 {
  font-family: league;
}

h2 {
  font-family: league;
}

h3 {
  font-family: league;
  font-size: 2rem;
}

h4 {
  font-family: league;
}

h5 {
  font-family: league;
}

.h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

#carousel img {
  filter: sepia(40%) brightness(70%) saturate(200%) contrast(130%);
}

.about-me-img {
  margin: .5rem;
}

.about-me-img img {
  filter: sepia(40%) brightness(70%) saturate(200%) contrast(130%);
}

.offer-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.offer-item img {
  filter: sepia(40%) brightness(70%) saturate(200%) contrast(130%);
}

.nav-item a {
  color: #fff;
  font-size: 1.6rem;
}

.navbar-brand {
  padding: 0;
}

.nav-item.active a {
  color: #ebe286;
}

#navbarNavDropdown {
  padding-right: 2rem;
  flex-direction: row-reverse;
}

li.nav-item {
  padding: .5rem;
}

#content .content {
  margin-bottom: 2rem;
}

#mainpage-banner.banner {
  height: 500px;
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;
}

.banner-text {
  font-family: Lobster;
  font-size: 5rem;
  text-align: center;
  padding: auto;
  font-style: italic;
}

.social .icon {
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

.social .fa-street-view {
  color: #fff;
}

.social .fa-twitter {
  color: #1da1f2;
}

.social .fa-facebook-square {
  color: #00f;
}

.carousel-inner {
  width: 100%;
  max-height: 600px;
  height: 600px;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4rem;
}

.container-title {
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
}

.about-me-text {
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.column-item {
  padding: 1rem;
  flex: 1 1 0px;
}

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-right: 4rem;
  margin-left: 4rem;
}

.about-me-container {
  width: 100%;
  height: auto;
  margin: 2rem;
  display: flex;
  justify-content: stretch;
}

.offer-img img {
  width: 100%;
  height: auto;
}

.offer-text {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.offer-text .offer-title {
  font-size: 3rem;
  font-family: league;
}

#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

#contact .fa {
  font-size: 2.5rem;
}

.contact-block {
  width: 75%;
  margin-left: 2rem;
}

.modal .modal-title {
  font-weight: 700;
}

.modal .modal-content {
  border: solid #2e2e2e 1px;
}

.modal .modal-content * {
  background: #000;
  color: #fff;
}

.modal .modal-footer button {
  border: solid 1px #fff;
}

#newsletter-container .modal-footer {
  border-top: 1px #2e2e2e solid;
}

#CookielawBanner .container {
  max-width: 100%;
}

#CookielawBanner .cookie-text {
  text-color: #fff;
}

#CookielawBanner .cookie-button {
  height: 1.5rem;
  border: solid #fff 1px;
}

#CookielawBanner .cookie-button a {
  margin: 1rem;
  color: #fff;
  font-family: unset;
}

#main-text.main-text {
  text-align: center;
  margin-top: 2rem;
}
