/* common styles */
@font-face {
  font-family: "Lobster";
  src: url("../webfonts/LobsterTwo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "league";
  src: url("../webfonts/LeagueGothic-Regular.otf") format("opentype");
}

@font-face {
  font-family: "league-italic";
  src: url("../webfonts/LeagueGothic-Italic.otf") format("opentype");
}

@font-face {
  font-family: "league-condensed";
  src: url("../webfonts/LeagueGothic-CondensedRegular.otf") format("opentype");
}

@font-face {
  font-family: "league-condensed-italic";
  src: url("../webfonts/LeagueGothic-CondensedRegularItalic.otf") format("opentype");
}

body {
  background-color: black;
  color: white;
}

.card {
  background-color: black;
  margin: 1rem;
}

/* colorization */
#container .container-image, #carousel_container .carousel-image {
  filter: brightness(110%) sepia(40%) hue-rotate(5deg) saturate(200%);
}

#container img, #carousel_container img {
  filter: brightness(70%);
}

.container-image img {
  height: 350px;
}

a {
  color: #ebe286;
  cursor: pointer;
  font-family: league;
  text-transform: uppercase;
}

.footer-container li a {
  color: white;
  font-family: unset;
}

h1, h2, h3, h4, h5 {
  font-family: league;
}

.h3, h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

a:hover {
  color: #ebe286;
  cursor: pointer;
}

a.inline-block {
  display: inline-block;
}

.info-img img {
  filter: sepia(40%) brightness(70%) saturate(200%) contrast(130%);
}

/* menu styles */
.nav-item a {
  color: white;
  font-size: 1.6rem;
}

.navbar-brand {
  padding: 0;
}

.nav-item.active a {
  color: #ebe286;
}

#navbarNavDropdown {
  padding-right: 2rem;
  flex-direction: row-reverse;
}

li.nav-item {
  padding: 0.5rem;
}

/* main styles */
.left-right-center, .left-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.left-right-center .lrc-inner, .left-right-center .lr-inner, .left-right .lrc-inner, .left-right .lr-inner {
  display: flex;
  flex-direction: column;
}

.left-right-center .lrc-inner.container, .left-right .lrc-inner.container {
  width: 33%;
}

.left-right-center .lr-inner.container, .left-right .lr-inner.container {
  width: 50%;
}

.content-container {
  margin-bottom: 2rem;
}

#mainpage-banner.banner {
  height: 500px;
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;
}

.banner-text {
  font-family: Lobster;
  font-size: 5rem;
  text-align: center;
  padding: auto;
  font-style: italic;
}

/* footer */
.footer-container {
  margin: 2rem;
}

.social .icon {
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

.social .fa-street-view {
  color: white;
}

.social .fa-twitter {
  color: #1DA1F2;
}

.social .fa-facebook-square {
  color: blue;
}

/* carousel slider */
.carousel-inner {
  width: 100%;
  max-height: 600px;
  height: 600px;
}

.bg-center {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

/* container */
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4rem;
}

.container-title, .info-justyna {
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.column-item {
  padding: 1rem;
  flex: 1 1 0px;
}

/* info + video */
.info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-right: 4rem;
  margin-left: 4rem;
}

.info-justyna {
  font-size: 2rem;
}

.info-container, .video-container {
  width: 100%;
  height: auto;
  margin: 2rem;
  display: flex;
  justify-content: stretch;
}

.video-container-inner {
  height: 100%;
  width: 100%;
}

.info-img, .info-desc {
  margin: 0.5rem;
}

/* offer */
.offer-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.offer-img img {
  width: 100%;
  height: auto;
}

.offer-text {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.offer-text .offer-desc {
  margin-top: 2rem;
}

.offer-text .offer-title {
  font-size: 2.5rem;
  font-family: league;
}

.offer-main {
  height: 300px;
}

.right-side {
  border-right: 1px solid white;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.left-side {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.offer-main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.offer-main .offer-main-title {
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.offer-main .offer-main-text {
  padding: 2rem 2rem 0 2rem;
  font-size: 1.5rem;
}

.main-image img {
  width: 100%;
  height: 600px;
  margin-bottom: 2rem;
}

/* faq */
.accordion a p {
  font-family: league;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: white;
}

.accordion a:hover {
  text-decoration: unset;
  color: white;
}

/* contact */
#contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

#contact .contact-right, #contact .contact-left {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.contact-left-inner, .contact-right-inner {
  margin: 1rem;
  display: flex;
}

.contact-left-inner .item-title {
  text-decoration: underline;
  font-size: 1.2rem;
}

.main-title p {
  font-size: 1.5rem;
}

.contact-left-inner {
  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;
}

#contact .fa {
  font-size: 4rem;
}

.contact-block {
  margin-left: 2rem;
}

/* opinion */
.main-message {
  height: 6rem;
  text-align: center;
  font-size: 2rem;
  margin-top: 8rem;
}

#opinions-container #customer-opinions {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  height: 10rem;
  min-height: none;
  margin-bottom: 4rem;
}

#opinions-container #customer-opinions .single {
  margin: 1rem;
}

#opinions-container #customer-opinions .slick-dots {
  position: relative;
  bottom: 0;
  top: 2rem;
}

#opinions-container #customer-opinions .slick-dots li {
  border: solid 1px white;
  border-radius: 50%;
  bottom: 0;
}

#opinions-container #customer-opinions .slick-dots li.slick-active {
  background-color: white;
}

#opinions-container #opinion-tree .lrc-inner.container {
  justify-content: center;
}

#opinions-container #opinion-tree .item img {
  border-radius: 50%;
}

#opinions-container #opinion-tree .item .item-text, #opinions-container #opinion-tree .item img {
  margin: 1rem;
}

#opinions-container #opinion-tree .center-image {
  margin: 1rem;
}

/* newsletter modal */
.modal-content * {
  background: black;
  color: white;
}

#newsletter-container .form-group:not(#form_Permission) {
  display: flex;
}

#newsletter-container .form-group:not(#form_Permission) label {
  margin-bottom: 0;
  width: 40%;
}

#newsletter-container .form-group:not(#form_Permission) input {
  margin-bottom: 0;
  width: 60%;
}

#newsletter-container #form_Permission {
  display: flex;
}

#newsletter-container #form_Permission label {
  margin-bottom: 0;
  margin-left: 1rem;
  order: 2;
}

#newsletter-container #form_Permission input {
  align-self: center;
  margin-bottom: 0;
  order: 1;
}
