body {
    margin-top: 1rem;
    background-color: black;
    color: white;
}

.carousel-inner {
}

.nav-item a {
    color: goldenrod;
    font-size: 2rem;
}

#navbarNavDropdown {
    margin-right: 2rem;
    flex-direction: row-reverse;
}

/* common styles */

.thin_gold_border {
    padding: 1rem;
    border: goldenrod 2px solid;
    border-radius: 2rem;
}

.card {
    background-color: black;
    border-radius: 4rem;
    margin: 1rem;
}

/* main styles */
.content-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* carousel slider */

/* container */
.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.column-item {
    padding: 1rem;
}

/* info + video */
.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.info-container, .video-container {
    padding: 2rem;
}
