<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>
</head>
<body>
<p> DEMO </p>

{% if containers %}
<div class="container" id="container">
    {% for container in containers %}
    <div class="span4 container-item">
        <div class="container-image">
            <img width="80" height="80" alt="{{ container.image_alternate_text }}" src="{{ container.image_url }}"/>
        </div>
        <div class="container-description">
            <h3> header </h3>
            <p>{{ container.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No containers are available.</p>
{% endif %}
</body>
</html>
