{% load static %}
<html>
<head>
    <title>RELAKSOWNIA</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}"/>
    <script src="{% static 'main/js/jquery-3.5.1.slim.min.js' %}" ></script>
    <script src="{% static 'main/js/popper.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="menu-container">
    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: black;">
        <div class="navbar-brand">
            <img class="logo" src="{% static 'main/LOGO.png' %}" alt="RELAKSOWNIA" height="200px" width="auto"/>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'main' %}">Strona główna <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<hr class="fancy-border-line"/>

<div class="content-container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<hr class="fancy-border-line"/>

<div class="footer-container">

    <div class="col-md-12 row">
        <div class="col">
            <div> MAPA STRONY: </div>
            <ul>
                <li>
                    <a href="{% url 'main' %}">Strona główna</a>
                </li>
                <li>
                    <a href="{% url 'faq' %}">FAQ</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Kontakt</a>
                </li>
            </ul>
        </div>
        <div class="col social">
            <a class="icon fab fa-facebook-square" href="https://www.facebook.com/relaksownia.masaz"></a>
            <a class="icon fa fa-street-view" href="https://g.page/Relaksownia_Masaz_Gliwice?share"></a>
            <a class="icon fab fa-twitter" href="#"></a>
        </div>
        <div class="col">
            Telefon Kontaktowy: 123-456-789
        </div>
        <div class="col">
            (C) 2020 Copyright Justyna Pietraszek <br/>
            Stworzone i administrowane przez: Artur@Szwagrzak.pl
        </div>
    </div>
</div>
</body>
</html>
