{% extends 'main\base.html' %}
{% load static %}

{% block content %}

{% if slider_items %}
<div class="carousel carousel_container" id="carousel_container">
    <div id="carousel" class="carousel slide slide_container carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slider in slider_items %}
            {% if slider.visible %}
            <li data-target="#carousel_container" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %} active {% endif %}"></li>
            {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for slider in slider_items %}
            {% if slider.visible %}
            <div class="carousel-item {% if forloop.first %} active {% endif %}" data-interval="10000">
                <img class="d-block w-100" src="{{ slider.image.url }}" alt="{{ slider.image_alternate_text }}" />
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
{% endif %}

{% if info %}
<div class="info">
    <div class="info-container thin_gold_border" id="info-container">
        <div class="info-img">
            <img src="{{ info.photo.url }}" alt="{{ photo_alternate_text }}" height="400" width="380"/>
        </div>
        <div class="info-desc">
            {{ info.description }}
        </div>
    </div>

    <div class="video-container thin_gold_border" id="video-container">
        <iframe width="100%" height="auto" src="https://www.youtube.com/embed/2OEL4P1Rz04" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</div>
{% endif %}

{% if containers %}
<div class="columns" id="container">
    {% for container in containers %}
    {% if container.visible %}
    <div class="column-item card thin_gold_border">
        <div class="card-body">
            <div class="container-title">
                <h3> {{ container.header_text }} </h3>
            </div>
            <div class="container-image">
                <!-- TODO+ znalazłem poprawniejszy sposób zaciągania statików-->
                <img width="100%" height="auto" alt="{{ container.image_alternate_text }}" src="{{ container.image.url }}"/>
            </div>
            <div class="container-description">
                <p>{{ container.description }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>No containers are available.</p>
{% endif %}

{% endblock %}
