{% extends 'base.html' %}

{% block content %}

{% if configuration %}
<iframe allowfullscreen="" aria-hidden="false" frameborder="0" height="600" src="{{configuration.map_url}}"
        style="border:0;" tabindex="0" width="100%"></iframe>
<div id="contact" class="main-content-2-columns">
    <div class="contact-left column-left">
        <div class="contact-left-inner main-title">
            <div class="fa fa-car"></div>
            <div class="on-site contact-block">{{configuration.on_site_client_info|safe}}</div>
        </div>
        <div class="contact-left-inner">
            <div class="fa fa-phone"></div>
            <div class="contact-block">
                <div class="item-title">Telefon:</div>
                <div class="item-desc">{{configuration.phone_number}}</div>
            </div>
        </div>
        <div class="contact-left-inner">
            <div class="fa fa-at"></div>
            <div class="contact-block">
                <div class="item-title">Email:</div>
                <div class="item-desc">{{configuration.email}}</div>
            </div>
        </div>
        <div class="contact-left-inner">
            <div class="fa fa-clock"></div>
            <div class="contact-block">
                <div class="item-title">Godziny pracy:</div>
                <div class="item-desc">{{configuration.working_hours|safe}}</div>
            </div>
        </div>
    </div>
    <div class="contact-right column-right">
        <div class="contact-right-inner main-title">
            <div class="fa fa-question"></div>
            <div class="help-info main-title contact-block"> {{configuration.have_questions|safe}}</div>
        </div>
        <div class="contact-right-inner contact-form">
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group{% if field.errors %} invalid{% endif %}" id="form_{{ field.name }}">
                        {% if field.name == 'attachment_img' %}
                        {% else %}
                        {{ field }}
                        {% endif %}
                    </div>
                    {% for error in field.errors %}
                        <p class="help-block">{{ field_required_and_invalid | safe }}</p>
                    {% endfor %}
                {% endfor %}
                <label class="submit-contact-form" for="submit-contact-form">
                    WYŚLIJ
                    <input type="submit" value="Send" id="submit-contact-form">
                </label>
            </form>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}
