{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if configuration %}
<iframe allowfullscreen="" aria-hidden="false" frameborder="0" height="600" src="{{configuration.map_url}}"
        style="border:0;" tabindex="0" width="100%"></iframe>
<div id="contact" class="main-content-2-columns">
    <div class="contact-left column-left">
        <div class="contact-left-inner main-title">
            <img class="contact-icon" src="{% static 'img/car.png' %}" alt="dojazd"/>
            <div class="on-site contact-block">{{configuration.on_site_client_info|safe}}</div>
        </div>
        <div class="contact-left-inner">
            <img class="contact-icon" src="{% static 'img/phone.png' %}" alt="telefon"/>
            <div class="contact-block">
                <div class="item-title">Telefon:</div>
                <div class="item-desc">{{configuration.phone_number}}</div>
            </div>
        </div>
        <div class="contact-left-inner">
            <img class="contact-icon" src="{% static 'img/email.png' %}" alt="email"/>
            <div class="contact-block">
                <div class="item-title">Email:</div>
                <div class="item-desc">{{configuration.email}}</div>
            </div>
        </div>
        <div class="contact-left-inner">
            <img class="contact-icon" src="{% static 'img/schedule.png' %}" alt="godziny"/>
            <div class="contact-block">
                <div class="item-title">Godziny pracy:</div>
                <div class="item-desc">{{configuration.working_hours|safe}}</div>
            </div>
        </div>
    </div>
    <div class="contact-right column-right">
        <div class="contact-right-inner main-title">
            <img class="contact-icon" src="{% static 'img/question.png' %}" alt="pytanie"/>
            <div class="help-info main-title contact-block"> {{configuration.have_questions|safe}}</div>
        </div>
        <div class="contact-right-inner contact-form">
            <form action="{% url 'contact' %}" method="post" novalidate>
                {% csrf_token %}
                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="help-block error">{{ error | safe }}</p>
                    {% endfor %}
                  {% endif %}
                {% for field in form %}
                    <div class="form-group{% if field.errors %} invalid{% endif %}" id="form_{{ field.name }}">
                        {{ field }}
                        {% if field.name == 'permission' %}
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        {% endif %}
                    </div>
                    {% for error in field.errors %}
                        <p class="help-block error">{{ error | safe }}</p>
                    {% endfor %}
                {% endfor %}
                <label class="submit-contact-form" for="submit-contact-form">
                    WYŚLIJ
                    <input type="submit" value="Send" id="submit-contact-form">
                </label>
            </form>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}
