{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if about_me %}
<div class="about-me">
    <div class="about-me-container" id="about-me-container">
        <div class="about-me-img">
            <img src="{{ about_me.photo.url }}" alt="{{ photo_alt }}" height="600" width="auto"/>
        </div>
        <div class="about-me-desc">
            <div class="about-me-text">
                {{ about_me.description|safe }}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
