{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if slider_items %}
<div class="carousel carousel_container" id="carousel_container">
    <div id="carousel" class="carousel slide slide_container carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            {% for slider in slider_items %}
            {% if slider.visible %}
            <div class="carousel-item {% if forloop.first %} active {% endif %} carousel-image" data-interval="4000">
                <img class="d-block w-100 hidden" src="{{ slider.image.url }}" alt="{{ slider.image_alt }}"/>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if info %}
<div class="info">
    <div class="info-container fancy-border" id="info-container">
        <div class="thin-gold-border">
            <div class="info-img">
                <img src="{{ info.photo.url }}" alt="{{ photo_alt }}" height="400" width="380"/>
            </div>
            <div class="info-desc">
                {{ info.description|safe }}
            </div>
        </div>
    </div>

    <div class="video-container" id="video-container">
        <iframe width="95%" height="95%" class="align-self-center" src="https://www.youtube.com/embed/2OEL4P1Rz04" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</div>
{% endif %}

{% if containers %}
<div class="columns" id="container">
    {% for container in containers %}
    {% if container.visible %}
    <div class="column-item card fancy-border2">
        <div class="card-body">
            <div class="container-title">
                <h3> {{ container.header_text }} </h3>
            </div>
            <div class="container-image">
                <img width="100%" height="auto" alt="{{ container.image_alt }}" src="{{ container.image.url }}"/>
            </div>
            <div class="container-description">
                <p>{{ container.description|safe }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% else %}
<p>No containers are available.</p>
{% endif %}

{% endblock %}
