{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if slider_items %}
<div class="carousel carousel_container" id="carousel_container">
    <div id="carousel" class="carousel slide slide_container carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            {% for slider in slider_items %}
            {% if slider.visible %}
            <div class="carousel-item {% if forloop.first %} active {% endif %} carousel-image" data-interval="4000">
                <img class="d-block w-100 hidden" src="{{ slider.image.url }}" alt="{{ slider.image_alt }}"/>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if containers %}
<div class="columns" id="container">
    {% for container in containers %}
    {% if container.visible %}
    <div class="column-item card">
        <div class="column-card-body">
            <div class="container-title">
                <h3> {{ container.header_text }} </h3>
            </div>
            <div class="container-image">
                <img width="100%" height="auto" alt="{{ container.image_alt }}" src="{{ container.image.url }}"/>
            </div>
            <div class="container-description">
                <p>{{ container.description|safe }}</p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

<div class="banner" id="mainpage-banner">
<!--    TODO modyfikowalny tekst-->
    <div class="banner-text">
        Naszym celem jest twój komfort.
    </div>
</div>

{% endblock %}
