{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if promoItems %}
<div id="promo-site">
    {% for promoItem in promoItems %}
    <div class="promo-part-item">
        {% if promoItem.text_position <= 1 %}
            <div class="promo-item-text">
                {{ promoItem.text | safe }}
            </div>
        {% endif %}
        <img class="w-100 promo-item-no-responsive" src="{{ promoItem.photo.url }}" alt="{{photo_alt}}"/>
        <div class="main-content-2-columns responsive-photos">
            <img class="w-100 column-item" src="{{ promoItem.photo_responsive1.url }}" alt="{{photo_responsive1_alt}}"/>
            <img class="w-100 column-item" src="{{ promoItem.photo_responsive2.url }}" alt="{{photo_responsive2_alt}}"/>
            {% if promoItem.photo_responsive3 %}
                <img class="w-100 column-item" src="{{ promoItem.photo_responsive3.url }}" alt="{{photo_responsive3_alt}}"/>
            {% endif %}
            {% if promoItem.photo_responsive4 %}
                <img class="w-100 column-item" src="{{ promoItem.photo_responsive4.url }}" alt="{{photo_responsive4_alt}}"/>
            {% endif %}
        </div>
        {% if promoItem.text_position > 1 %}
            <div class="promo-item-text">
                {{ promoItem.text | safe }}
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% if promo_configuration %}
    <p>
        {{ promo_configuration.delivery_info | safe }}
    </p>
    <p>
        Numer konta do opłacenia zamówienia: {{ promo_configuration.bank_account_number | safe }}
    </p>
    <div class="promo_form" id="promo_form">
        <form action="{% url 'promo' %}" method="post" novalidate>
            {% csrf_token %}
              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="help-block error">{{ error | safe }}</p>
                {% endfor %}
              {% endif %}
            {% for field in form %}
                <div class="form-group{% if field.errors %} invalid{% endif %}" id="form_{{ field.name }}">
                    {{ field }}
                    {% if field.name == 'permission' %}
                    <label for="{{ field.id_for_label }}">
                        {{ promo_configuration.permission_text | safe }}
                    </label>
                    {% endif %}
                    {% if field.name == 'is_vat' %}
                    <label for="{{ field.id_for_label }}">
                        {{ field.label | safe }}
                    </label>
                    {% endif %}
                    {% if field.name == 'inpost_code' %}
                        <a class="fa icon fa-search"></a>
                        <a class="search-inpost" href="{{ promo_configuration.inpost_code_search_info | safe }}" target="_blank">Znajdź najbliższy paczkomat</a>
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="help-block error error_{{ field.name }}">{{ error | safe }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <label class="submit-promo-form" for="submit-promo-form">
                WYŚLIJ
                <input type="submit" value="Send" id="submit-promo-form">
            </label>
        </form>
    </div>
{% endif %}
{% endblock %}
