/* common styles */

$base-color: #ebe286;
$almost-black: #2e2e2e;
$borrowed-grey: #ccd0d3;

@font-face {
  font-family: "Lobster";
  src: url('../webfonts/LobsterTwo-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Oswald";
  src: url('../webfonts/Oswald-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "league";
  src: url('../webfonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
  font-family: "league-italic";
  src: url('../webfonts/LeagueGothic-Italic.otf') format("opentype");
}

@font-face {
  font-family: "league-condensed";
  src: url('../webfonts/LeagueGothic-CondensedRegular.otf') format("opentype");
}

@font-face {
  font-family: "league-condensed-italic";
  src: url('../webfonts/LeagueGothic-CondensedRegularItalic.otf') format("opentype");
}

body {
  background-color: black;
  color: white;
  font-family: Oswald;
}

.card {
  background-color: black;
  margin: 1rem;
}

.main-content-2-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;

  .column-right, .column-left {
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
}

/* common - autocomplete styles */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  -webkit-text-font: league;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* colorization */

.container-image img {
  height: 350px;
}

a {
  color: $base-color;
  cursor: pointer;
  text-transform: uppercase;
  &.nav-link {
    font-family: league;
  }
}

.footer-container li a {
  color: white;

}

h1, h2, h3, h4, h5 {
  font-family: league;
}

.h3, h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a {
  &:hover {
    color: $base-color;
    cursor: pointer;
  }

  &.inline-block {
    display: inline-block;
  }
}

#content form .help-block.error, #modal form .help-block.error {
    color: red;
}

/* icons img */
img.contact-icon {
    width: 3rem;
    height: 3rem;
}

/* menu styles */

.nav-item a {
  color: white;
  font-size: 1.6rem;
}

.navbar-brand {
  padding: 0;
}

.nav-item.active a {
  color: $base-color;
}

#navbarNavDropdown {
  padding-right: 2rem;
  flex-direction: row-reverse;
}

li.nav-item {
  padding: 0.5rem;
}

/* main styles */

.left-right-center, .left-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;

  .lrc-inner, .lr-inner {
      display: flex;
      flex-direction: column;
    }
   .lrc-inner.container {
    width: 33%
   }
   .lr-inner.container {
    width: 50%
   }
}

.content-container {
  margin-bottom: 2rem;
}

#main-text.main-text {
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.container-title {
    text-transform: uppercase;
}

/* footer */

.footer-container {
  margin: 2rem;
}

.social {
  .icon {
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
  }

  .fa-street-view {
    color: white;
  }

  .fa-twitter {
    color: #1DA1F2;
  }

  .fa-facebook-square {
    color: blue;
  }
}

/* carousel slider */

.carousel-inner {
  width: 100%;
  max-height: 600px;
  height: 600px;
}

.bg-center {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

/* container */

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4rem;
}

.container-title, .about-me-justyna {
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.column-item {
  padding: 1rem;
  flex: 1 1 0px;
}

/* about-me + video */

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-right: 4rem;
  margin-left: 4rem;
}

.about-me-justyna {
  font-size: 2rem;
}

.about-me-container, .video-container {
  width: 100%;
  height: auto;
  margin: 2rem;
  display: flex;
  justify-content: stretch;
}

.about-me-container {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.video-container-inner {
  height: 100%;
  width: 100%;
}

.about-me-img, .about-me-desc {
  margin: 0.5rem;
}

.about-me-desc {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 2rem;
}

/* offer */

.offer-container {
    margin-top: 4rem;
}

.offer-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.offer-img img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  object-position: center;
}

.offer-text {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;

  .offer-desc {
    margin-top: 2rem;
    font-size: 1.5rem;
    p {
        font-size: 1.5rem;
    }
  }

  .offer-title {
    font-size: 3rem;
    font-family: league;
  }
}

.offer-main {
  height: 300px;
}

.right-side {
  border-right: 1px solid white;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.left-side {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.offer-main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  .offer-main-title {
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .offer-main-text {
    padding: 2rem 2rem 0 2rem;
    font-size: 1.5rem;
  }
}

.main-image img {
  width: 100%;
  height: 600px;
  margin-bottom: 2rem;
}

/* faq */

.accordion a {
  p {
    font-family: league;
    text-transform: uppercase;
    font-size: 1.7rem;
    color: white;
  }

  &:hover {
    text-decoration: unset;
    color: white;
  }
}

/* faq - newsletter */

#faq-newsletter {
    .close, .close-modal, .modal-header  {
      display: none;
    }

    #newsletter-container {
        button.submit-btn.btn.save-data {
            width: 100%;
        }
    }
}

/* contact */

.submit-contact-form {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.contact-left-inner, .contact-right-inner {
  margin: 1rem;
  display: flex;

  .fa, p {
    margin-top: auto;
    margin-bottom: auto;
  }

  table, th, td {
    border: solid 1px $almost-black;
    text-align: center;
    vertical-align: middle;
  }

  form, .form-group textarea, .form-group input {
    width: 100%;
  }

  .form-group textarea {
    resize: none;
  }

  .contact-block table {
    width: 100%;
    margin: 1rem;

      th {
        width: 45%;
      }
      tr {
        width: 55%
      }
  }
}

.contact-block {
    width: 75%;
  margin-left: 2rem;
}

.contact-left-inner {

  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;

  .item-title {
    text-decoration: underline;
    font-size: 1.5rem;
  }
  .item-desc {
    font-size: 1.5rem;
  }
}

.main-title p {
  font-size: 1.5rem;
}

#contact .fa {
  font-size: 2.5rem;
}

#contact #form_permission {
    display:flex;

    input {
        align-self: center;
        margin-bottom: 0;
        width: 2rem;
    }

    label {
        margin-bottom: 0;
        margin-left: 1rem;
    }
}

/* opinion */

.main-message {
    height: 6rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 8rem;
}


#opinions-container {
    #customer-opinions {
        height: auto;
        width: 80%;
        margin: auto;
        .single {
            margin-left: 1rem;
            margin-right: 1rem;
            height: auto;
            outline: none;
            .opinion-text {
                bottom: 1rem;
            }
            .opinion-customer-name {
                position: relative;
                bottom: 0;
                font-size: 2rem;
                text-transform: uppercase;
            }
        }

        .slick-dots {
            position: relative;
            bottom: 0;
            top: 2rem;
            li {
                border: solid 1px white;
                border-radius: 50%;
                bottom: 0;
                &.slick-active {
                    background-color: white;
                }
            }
        }
    }

    #opinion-tree {
        .lrc-inner.container {
            justify-content: center;
        }
        .item {
            img {
                border-radius: 50%;
            }
            .item-text, img {
                margin: 1rem;
            }
        }
        .center-image {
            margin: 1rem;
        }
    }
}

/* inputs */
body {

    input, textarea {
        color: $borrowed-grey;
    }
    .form-group input[type="text"], .form-group input[type="email"], .form-group textarea {
        border: 1px $almost-black solid;
        background-color: $almost-black;
        min-height: 2.5rem;
    }

    input[type="text"]:hover, input[type="email"]:hover, textarea:hover,
    input[type="text"]:active, input[type="email"]:active, textarea:active,
    input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
        border: 1px $almost-black solid;
    }

    input[type="file"] {
        position: absolute;
        left: -99999rem;
    }

    input[type="submit"] {
        position: absolute;
        left: -99999rem;
    }


    button, .custom-file-upload, .submit-contact-form {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    ::placeholder {
        color: $borrowed-grey;
    }
}


/* newsletter modal */
.modal {
    .modal-title {
        font-weight: bold;
    }
    .modal-content {
        border: solid $almost-black 1px;
        * {
            background: black;
            color: white;
        }
    }
    .modal-footer {
        button {
            border: solid 1px white
        }
    }

}
#newsletter-container {
    * {
      background: black;
      color: white;
    }
    .modal-footer button {
      border: solid 1px white;
    }
}

#newsletter-container {
    .modal-header {
        border-bottom: 1px $almost-black solid;
    }
    .modal-footer {
        border-top: 1px $almost-black solid;
    }

    .form-group:not(#form_Permission) {
        display:flex;
        label{
            margin-bottom: 0;
            height: 3rem;
        }
        input {
            margin-bottom: 0;
            width: 100%;
            height: 3rem;
        }
    }
    #form_permission {
        display:flex;

        input {
            align-self: center;
            margin-bottom: 0;
        }

        label {
            margin-bottom: 0;
            margin-left: 1rem;
        }
    }
}

/* cookielawe */

#CookielawBanner {
    .container {
        max-width: 100%;
    }
    .cookie-text {
        text-color: white;
        font-size: 1.5rem;
    }
    .cookie-button {
        height: 2rem;
        border: solid white 1px;
        a {
            margin: 1rem;
            color: white;
        }
    }
}
