/* common styles */

$base-color: #ebe286; // blank gold
$almost-black: #2e2e2e;
$borrowed-grey: #ccd0d3;

$facebook-color: #3b5999;
$linkedin-color: #0077B5;
$snapchat-color: #FFFC00;
$youtube-color: #cd201f;
$twitter-color: #55acee;
$google-maps-color: #dd4b39;
$instagram-color: #e4405f;
$youtube-color: #cd201f;

@font-face {
  font-family: "Oswald";
  src: url('../webfonts/Oswald-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "league";
  src: url('../webfonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
  font-family: "league-italic";
  src: url('../webfonts/LeagueGothic-Italic.otf') format("opentype");
}

@font-face {
  font-family: "league-condensed";
  src: url('../webfonts/LeagueGothic-CondensedRegular.otf') format("opentype");
}

@font-face {
  font-family: "league-condensed-italic";
  src: url('../webfonts/LeagueGothic-CondensedRegularItalic.otf') format("opentype");
}

body {
  background-color: black;
  color: white;
  font-family: Oswald;
}

p.error {
    font-size: 1rem;
}

.card {
  background-color: black;
  margin: 1rem;
}

.card-header h2 p {
    font-size: 2rem;
}

.main-content-2-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;

  .column-right, .column-left {
      width: 50%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
}

/* common - autocomplete styles */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  -webkit-text-font: league;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.container-image img {
  height: auto;
}

/* colorization */

a.nav-link, .content a {
  color: $base-color;
  cursor: pointer;
  text-transform: uppercase;
}

a.nav-link {
    font-family: league;
}

.footer-container li a {
  color: white;
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  font-family: league;
}

.h3, h3 {
  font-size: 2rem;
}

p, li {
  font-size: 1.5rem;
}

a {
  &:hover {
    color: white;
    cursor: pointer;
  }

  &.inline-block {
    display: inline-block;
  }
}

#content form .help-block.error, #modal form .help-block.error {
    color: red;
}

/* icons img */
img.contact-icon {
    width: 3rem;
    height: 3rem;
}

/* menu styles */

.nav-item a {
  color: white;
  font-size: 1.6rem;
}

i.fa-bars {
    color: white;
    font-size: 2rem;
}

.navbar-brand {
  padding: 0;
}

.nav-item.active a {
  color: $base-color;
}

#navbarNavDropdown {
  padding-right: 2rem;
  flex-direction: row-reverse;
}

li.nav-item {
  padding: 0.5rem;
}

/* main styles */

.left-right-center, .left-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;

  .lrc-inner, .lr-inner {
      display: flex;
      flex-direction: column;
    }
   .lrc-inner.op-container {
    width: 33%
   }
   .lr-inner.op-container {
    width: 50%
   }
}

.content-container {
  margin-bottom: 2rem;
}

#main-text.main-text {
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center;
    h1, h2, h3, h4, h5 {
        color: $base-color;
    }
}
.container-title {
    text-transform: uppercase;
    color: $base-color;
}

/* footer */

#sitemap-title {
    color: $base-color;
}

.footer-container {
  margin: 2rem;
}

.col.phone-contact, .col.copyright {
  color: white;
}

.social {
  .icon {
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
  }

    .fa-facebook {
        color: $facebook-color
    }
    .fa-twitter {
        color: $twitter-color;
    }
    .fa-linkedin {
        color: $linkedin-color;
    }
    .fa-instagram {
        color: $instagram-color;
    }
    .fa-snapchat {
        color: $snapchat-color;
    }
    .fa-twitter {
        color: $twitter-color;
    }
    .fa-map-marker {
        color: $google-maps-color;
    }
    .fa-youtube {
        color: $youtube-color;
    }
}

/* carousel slider */

.carousel-inner {
  width: 100%;
  max-height: 600px;
  height: 600px;
}

.bg-center {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

/* container */

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4rem;
}

.container-description * {
    font-size: 1.2rem;
}

.container-title {
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  text-align: center;
}

.column-item {
  padding: 1rem;
  flex: 1 1 0px;
}

/* about-me */

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-right: 4rem;
  margin-left: 4rem;
}

.certs {
    margin-right: 4rem;
    margin-left: 4rem;
}

.about-me-text h2 {
  color: $base-color;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.about-me-container {
  width: 100%;
  height: auto;
  margin: 2rem;
  display: flex;
  justify-content: stretch;
}

.certs-container {
  width: 100%;
  height: auto;
  margin: 2rem;
  justify-content: stretch;
  flex-wrap: wrap;
  display: flex;

  .cert-img {
    margin: 2rem;
    justify-content: stretch;
    max-width: 28%;
    width: 100%;
  }
}

.cert-info-zoom, .cert-info {
    margin: 2rem;
    text-align: center;
    font-family: league;
    .fa-search {
        font-size: 2rem;
        margin: 1rem;
    }
}

.cert-info {
    font-size: 2.5rem;
    color: $base-color;
}
.cert-info-zoom {
    font-size: 1.5rem;
}

.about-me-container {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.about-me-img, .about-me-desc {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.about-me-desc {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 2rem;
}

/* offer */

.offer-container {
    margin-top: 4rem;
}

.offer-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.offer-img img {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  object-position: center;
}

.offer-text {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;

  .offer-desc {
    margin-top: 2rem;
    font-size: 1.5rem;
    * {
        font-size: 1.5rem;
    }
  }

  .offer-title {
    font-size: 2rem;
    font-family: league;
    color: $base-color;
  }
}

.offer-main {
  height: 300px;
}

.right-side {
  border-right: 1px solid white;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.left-side {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.offer-main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  .offer-main-title {
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }

  .offer-main-text {
    padding: 2rem 2rem 0 2rem;
    font-size: 1.5rem;
  }
}

.main-image img {
  width: 100%;
  height: 600px;
  margin-bottom: 2rem;
}

/* faq */

.accordion a {
  p {
    font-family: league;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
  }

  &:hover {
    text-decoration: unset;
    color: white;
  }

}

.accordion .card-body {
    font-size: 1.5rem;
}

/* faq - newsletter */

#faq-newsletter {
    .close, .close-modal, .modal-header  {
      display: none;
    }

    #newsletter-container {
        button.submit-btn.btn.save-data {
            width: 100%;
        }
    }
}

/* contact */

.submit-contact-form {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.contact-left-inner, .contact-right-inner {
  margin: 1rem;
  display: flex;

  .fa, p {
    margin-top: auto;
    margin-bottom: auto;
  }

  table, th, td {
    border: solid 1px $almost-black;
    text-align: center;
    vertical-align: middle;
  }

  form, .form-group textarea, .form-group input {
    width: 100%;
  }

  .form-group textarea {
    resize: none;
  }

  .contact-block table {
    width: 100%;
    margin: 1rem;

      th {
        width: 45%;
      }
      tr {
        width: 55%
      }
  }
}

.contact-block {
    width: 75%;
  margin-left: 2rem;
}

.help-info, .on-site, .contact-block {
    h1, h2, h3, h4, h5 {
        color: $base-color;
        text-decoration: underline;
    }
}

.contact-left-inner {

  flex-direction: row;
  display: flex;
  flex-wrap: nowrap;

  .item-title {
    text-decoration: underline;
    font-size: 1.5rem;
    color: $base-color;
  }
  .item-desc {
    font-size: 1.5rem;
  }
}

.main-title p {
  font-size: 1.5rem;
}

#contact .fa {
  font-size: 2.5rem;
}

#contact #form_permission {
    display:flex;

    input {
        align-self: center;
        margin-bottom: 0;
        width: 2rem;
    }

    label {
        margin-bottom: 0;
        margin-left: 1rem;
    }
}

/* opinion */

.main-message {
    height: 6rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 8rem;
    color: $base-color;
}


#opinions-container {
    #customer-opinions {
        height: auto;
        width: 80%;
        margin: auto;
        .single {
            margin-left: 1rem;
            margin-right: 1rem;
            height: auto;
            outline: none;
            .opinion-text {
                * {
                    font-size: 1.5rem;
                }
                bottom: 1rem;
            }
            .opinion-customer-name {
                position: relative;
                bottom: 0;
                font-size: 2rem;
                text-transform: uppercase;
                color: $base-color;
            }
        }

        .slick-dots {
            position: relative;
            bottom: 0;
            top: 2rem;
            li {
                border: solid 1px white;
                border-radius: 50%;
                bottom: 0;
                &.slick-active {
                    background-color: white;
                }
            }
        }
    }

    #opinion-tree {
        .lrc-inner.op-container {
            justify-content: center;
        }
        .item {
            img {
                border-radius: 50%;
            }
            .item-text, img {
                margin: 1rem;
            }
        }
        .center-image {
            margin: 1rem;
        }
    }
}

/* inputs */
body {
    input, textarea {
        color: $borrowed-grey;
    }
    .form-group input[type="text"], .form-group input[type="email"], .form-group textarea, .form-group select {
        border: 1px $almost-black solid;
        background-color: $almost-black;
        min-height: 2.5rem;
        color: $borrowed-grey;
    }

    input[type="text"]:hover, input[type="email"]:hover, textarea:hover, select:hover,
    input[type="text"]:active, input[type="email"]:active, textarea:active, select:active
    input[type="text"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
        border: 1px $almost-black solid;
        background-color: $almost-black;
    }

    input[type="file"] {
        position: absolute;
        left: -99999rem;
    }

    input[type="submit"] {
        position: absolute;
        left: -99999rem;
    }


    button, .custom-file-upload, .submit-contact-form, .submit-promo-form {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    ::placeholder {
        color: $borrowed-grey;
    }
}


/* newsletter modal */
.modal {
    .modal-title {
        font-weight: bold;
    }
    .modal-content {
        border: solid $almost-black 1px;
        * {
            background: black;
            color: white;
        }
    }
    .modal-footer {
        button {
            border: solid 1px white
        }
    }

}
#newsletter-container {
    * {
      background: black;
      color: white;
    }
    .modal-footer button {
      border: solid 1px white;
    }
}

#newsletter-container {
    .modal-header {
        border-bottom: 1px $almost-black solid;
    }
    .modal-footer {
        border-top: 1px $almost-black solid;
    }

    .form-group:not(#form_Permission) {
        display:flex;
        label{
            margin-bottom: 0;
            height: 3rem;
        }
        input {
            margin-bottom: 0;
            width: 100%;
            height: 3rem;
        }
    }
    #form_permission {
        display:flex;

        input {
            align-self: center;
            margin-bottom: 0;
        }

        label {
            margin-bottom: 0;
            margin-left: 1rem;
        }
    }
}

/* cookielaw */

#CookielawBanner {
    .container {
        max-width: 100%;
    }
    .cookie-text {
        text-color: white;
        font-size: 1.5rem;
    }
    .cookie-button {
        height: 2rem;
        border: solid white 1px;
        a {
            margin: 1rem;
            color: white;
        }
    }
}

#container404 {
    position: relative;

    .main-photo {
        margin: auto;
        width: 100%;
    }

    a.home-icon {
        display: block;
        position: absolute;
        top: 22%;
        left: 74%;
        width: 20%;
        height: 20%;
        z-index: 100;
    }
}

.policy-text #policy-privacy {
    margin: 4rem;
}

#promo-site {
    margin-right: 4rem;
    margin-left: 4rem;
    .responsive-photos {
        display: none;
    }
}

.promo-form-header {
    font-size: 1.5rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#promo_form {
    display:flex;

    form {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    select {
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M0 10l8 8 8-8z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: 5px;
        background-position-y: 5px;
        padding-left: 30px;
    }

    .submit-promo-form {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    a.search-inpost, a.fa-search {
        color: white;
    }

    input, select {
        width: 100%;
    }
    #form_permission, #form_is_vat {
        display:flex;

        input {
            align-self: center;
            margin-bottom: 0;
            width: 1rem;
            height: 1rem;
            min-width: 1rem;
        }

        label {
            margin-bottom: 0;
            margin-left: 1rem;
        }
    }
}

/* ================================================================================================================ */
/* responsive design */

$desktop-width: 1100px;
$tablet-width: 768px;
$phone-width: 600px;
$tiny-phone-width: 300px;


@media only screen and (max-width: $tiny-phone-width) {

    img, #content img.main-image {
        display: none;
    }

    .navbar-brand::after {
        content: 'Relaksownia';
        color: white;
    }

    .h3, h3 {
      font-size: 1rem;
    }

    p {
      font-size: 1rem;
    }

    #container.columns {
        flex-wrap: wrap;

        .column-item {
            flex: auto;
            margin: 0;
        }
    }
    .carousel-inner {
        height: auto;
    }

    .right-side, .left-side {
        width: 100%;
        border: none;
    }

    .offer-item {
        flex-wrap: wrap;
        .offer-desc {
            font-size: 1rem;
        }
        .offer-title {
            font-size: 1rem;
        }
    }

    .offer-item:nth-of-type(odd) {
        .right-side {
            order: 2;
        }
        .left-side {
            order: 1;
        }
    }
    .offer-text .offer-desc p {
        font-size: 1rem;
    }
    .about-me {
        margin: 1rem;
    }
    .about-me-container {
        margin: 0;
        flex-wrap: wrap;
        .about-me-img {
            width: 100%;
            flex: auto;
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        .about-me-desc {
            width: 100%;
            flex: auto;
        }
    }

    .main-message {
        height: auto;
    }
    #opinion-tree {
        flex-wrap: wrap;
        img {
            display: none;
        }
        .op-container {
            width: 100%;
        }
    }

    iframe {
        height: 300px;
    }

    #contact {
        flex-wrap: wrap;
        .column-left, .column-right {
            width: 100%;
        }
        .contact-left-inner, .contact-right-inner {
            margin: 0;
            .contact-block {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid white;
            }
        }

        #form_permission input {
            width: auto;
        }
    }

    .faq-main-content {
        flex-wrap: wrap;
        .column-left, .column-right {
            width: 100%;
            margin: 0;
        }
    }

    .certs {
        margin: auto;
        #certs-container {
            margin: 0;
            .cert-img {
                max-width: initial;
            }
            img.cert-img-inner {
                display: block;
                width: 100%;
            }
        }
        .cert-info-zoom, .cert-info {
            margin: 0;
            font-size: 1rem;
            .fa-search {
                font-size: 1rem;
                margin: 2px;
            }
        }
    }

    #promo-site {
        margin: auto;
        .responsive-photos {
            display: block;
            .promo-part-item {
                width: 100%;
            }
        }
    }

    .promo-form-header {
        font-size: 2rem;
        width: 100%;
    }
    #promo_form {
        form {
            width: 100%;
        }
    }
}

@media only screen and (min-width: $tiny-phone-width) and (max-width: $phone-width) {

    #container.columns {
        flex-wrap: wrap;

        .column-item {
            flex: auto;
        }
    }

    .h3, h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }

    .carousel-inner {
        height: auto;
    }

    .offer-item {
        flex-wrap: wrap;
        .offer-desc {
            font-size: 1.5rem;
        }
        .offer-title {
            font-size: 2rem;
        }
    }

    .right-side, .left-side {
        width: 100%;
        border: none;
    }

    .offer-item:nth-of-type(odd) {
        .right-side {
            order: 2;
        }
        .left-side {
            order: 1;
        }
    }
    .about-me {
        margin: 1rem;
    }
    .about-me-container {
        margin: 0;
        flex-wrap: wrap;
        .about-me-img {
            width: 100%;
            flex: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        .about-me-desc {
            width: 100%;
            flex: auto;
        }
    }

    .main-message {
        height: auto;
    }
    .main-image img {
        height: auto;
        width: 100%;
    }
    #opinion-tree {
        flex-wrap: wrap;
        img {
            display: block;
        }
        .center-image img {
            width: 100%;
            height: auto;
            margin: auto;
        }
        .op-container {
            width: 100%;
            margin: auto;
        }
    }

    .navbar {
        padding: 0;
    }
    .navbar-toggler {
        margin: 2px;
    }

    #contact {
        img {
            margin: auto;
        }
        flex-wrap: wrap;
        .column-left, .column-right {
            width: 100%;
        }
        .contact-left-inner, .contact-right-inner {
            margin: 0;
            .contact-block {
                width: 100%;
                margin-left: 1rem;;
                margin-right: 0;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid white;
            }
        }

        #form_permission input {
            width: auto;
        }
    }
    .faq-main-content {
        flex-wrap: wrap;
        .column-left, .column-right {
            width: 100%;
            margin: 0;
        }
    }

    .certs {
        margin: auto;
        #certs-container {
            margin: 0;
            .cert-img {
                max-width: initial;
                margin: 1rem;
            }
            img.cert-img-inner {
                display: block;
                width: 100%;
            }
        }
        .cert-info-zoom, .cert-info {
            margin: 0;
            font-size: 1.2rem;
            .fa-search {
                font-size: 1.2rem;
                margin: 2px;
            }
        }
    }
    #promo-site {
        margin: auto;
        .promo-item-no-responsive {
            display: none;
        }
        .responsive-photos {
            display: block;
            .promo-part-item {
                width: 100%;
            }
        }
    }

    .promo-form-header {
        font-size: 1.5rem;
        width: 100%;
    }

    #promo_form {
        form {
            width: 100%;
        }
    }
}

@media only screen and (min-width: $phone-width) and (max-width: $tablet-width) {

    .h3, h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }

    #container.columns {
        flex-wrap: wrap;

        .column-item {
            flex: auto;
        }
    }
    .carousel-inner {
        height: auto;
    }

    .right-side, .left-side {
        width: 100%;
        border: none;
    }

    .offer-item {
        flex-wrap: wrap;
        .offer-desc {
            font-size: 1.5rem;
        }
        .offer-title {
            font-size: 2rem;
        }
    }

    .offer-item:nth-of-type(odd) {
        .right-side {
            order: 2;
        }
        .left-side {
            order: 1;
        }
    }
    .about-me {
        margin: 1rem;
    }
    .about-me-container {
        flex-wrap: wrap;
        .about-me-img {
            width: 100%;
            flex: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        .about-me-desc {
            width: 100%;
            flex: auto;
        }
    }
    .main-image img {
        height: auto;
        width: 100%;
    }
    #opinions-container {
        #opinion-tree {
            flex-wrap: wrap;
            img {
                display: block;
            }
            .center-image img {
                width: 100%;
                height: auto;
            }
            .op-container {
                width: 100%;
                margin: auto;
            }
        }
    }
    #contact {
        img {
            margin: auto;
        }
        flex-wrap: wrap;
        .column-left, .column-right {
            width: 100%;
        }
        .contact-left-inner, .contact-right-inner {
            margin: 0;
            .contact-block {
                width: 100%;
                margin-left: 1rem;;
                margin-right: 0;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid white;
            }
        }

        #form_permission input {
            width: auto;
        }
    }
    .certs {
        margin: auto;
        #certs-container {
            margin: 0;
            .cert-img {
                max-width: initial;
                margin: 1rem;
            }
        }
        .cert-info-zoom, .cert-info {
            margin: 0;
            font-size: 1.2rem;
            .fa-search {
                font-size: 1.2rem;
                margin: 2px;
            }
        }
    }

    #promo-site {
        margin: auto;
        .promo-item-no-responsive {
            display: none;
        }
        .responsive-photos {
            display: block;
            .promo-part-item {
                width: 100%;
            }
        }
    }

    .promo-form-header {
        font-size: 1.5rem;
        width: 100%;
    }

    #promo_form {
        form {
            width: 100%;
        }
    }
}

@media only screen and (min-width: $tablet-width) and (max-width: $desktop-width) {

    #container.columns {
        flex-wrap: wrap;

        .column-item {
            flex: auto;
        }
    }
    .carousel-inner {
        height: auto;
    }
    .about-me-container {
        flex-wrap: wrap;
        .about-me-img {
            width: 100%;
            flex: auto;
            img {
                width: 100%;
                height: auto;
            }
            .center-image img {
                width: 100%;
                height: auto;
            }
        }
        .about-me-desc {
            width: 100%;
            flex: auto;
        }
    }
    #opinion-tree {
        flex-wrap: wrap;
        img {
            display: block;
            margin: auto;
        }
        .center-image img {
            width: 100%;
            height: auto;
        }
        .op-container {
            width: 100%;
        }
        .op-container.center-image {
            margin: auto;
        }
    }
    .certs {
        margin: auto;
        #certs-container {
            margin: 0;
            .cert-img {
                margin: 1rem;
            }
        }
    }

    #promo-site {
        .promo-item-no-responsive {
            display: none;
        }
        .responsive-photos {
            display: block;
            .promo-part-item {
                width: 100%;
            }
        }
    }

    .promo-form-header {
        font-size: 1.5rem;
        width: 100%;
    }

    #promo_form {
        form {
            width: 100%;
        }
    }
}

@media only screen and (min-width: $desktop-width) {
    .about-me-container {
        .about-me-img {
            width: 50%;
            flex: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        .about-me-desc {
            width: 50%;
            flex: auto;
        }
    }
}